{% extends '@tapestry/layouts/skeleton.twig' %}
{% import '@tapestry/partials/macros.twig' as macros %}

{% block body %}
<div class="Sidebar">
    {% block sidebar %}
    
    {% if pt.tapestry.has.markup %}
    <div class="Sidebar-section">
        <h2>Markup</h2>
        {{ macros.listDir('/', null, 0, 'markup', pt.tapestry.markup) }}
    </div>
    {% endif %}

    {% if pt.tapestry.has.docs %}
    <div class="Sidebar-section">
        <h2>Docs</h2>
        {{ macros.listDir('/', null, 0, 'docs', pt.tapestry.docs) }}
    </div>
    {% endif %}
    
    {% endblock %}
</div>
<div class="Main">
    {% block main %}{% endblock %}
</div>
{% endblock %}

