{% extends '@tapestry/layouts/skeleton.twig' %}
{% import _self as funcs %}

{% block body %}
<div class="Sidebar">
    {% block sidebar %}
    
    <div class="Sidebar-section">
        {{ funcs.listDir('/', null, 0, pt.tapestry.markup, pt.config.get('templates.extension')) }}
    </div>
    
    {% endblock %}
</div>
<div class="Main">
    {% block main %}{% endblock %}
</div>
{% endblock %}

{% macro listDir(path, relPath, depth, markup, ext) %}
    {% import _self as funcs %}
    {% set items = markup.getAll(path).depth('== ' ~ depth) %}
    {% if relPath %}
    {% set items = items.path('/^' ~ relPath|replace({'/':'\\/'}) ~ '/') %}
    {% endif %}
    <ul>
    {% for item in items %}
        <li>
            <a href="/markup/{{ item.getRelativePathname('.' ~ ext, '.html') }}">{{ item.getTitle() }}</a>
            {% if item.isDir() %}
            {{ funcs.listDir(path, item.getRelativePathname(), (depth + 1), pt.tapestry.markup, ext) }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}