<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/__tapestry/assets/css/tapestry.css">
    <title>{{ pt.tapestry.config.title }}</title>
</head>
<body>

{% block body %}{% endblock %}

<script src="/__tapestry/assets/css/tapestry.js"></script>
</body>
</html>