{% extends '@tapestry/layouts/sidebar.twig' %}

{% block main %}
{{ pt.tapestry.view.markupUrl(template.getUrlPath, 'preview') }}
<iframe src="{{ pt.tapestry.view.markupUrl(template.getUrlPath, 'preview') }}" frameborder="0"></iframe>

<a href="/markup/{{ path }}.html/highlight">Highlighted</a>
{% include '@tapestry/partials/highlight.twig' with {content: template.render} %}

{% if metadata.notes %}
{{ metadata.notes|markdown }}
{% endif %}

{% endblock %}